<!DOCTYPE html>
<html ng-app="app" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Title</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script src="resources/js/jquery-2.1.4.js"></script>
    <script src="resources/js/angular.min.js"></script>
    <script src="resources/js/app-ang.js"></script>
    <script src="resources/js/app-controller.js"></script>
    <script src="resources/js/app-service.js"></script>

    <link rel="stylesheet" media="screen" href="resources/css/style.css">
  </head>
  <body ng-controller="AppController">

    <table ng-init="getAllEmployees()">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Active</td>
          <td>Department</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employees.list">
          <td>{{employee.id}}</td>
          <td>{{employee.nm}}</td>
          <td>{{employee.acv}}</td>
          <td>{{employee.dp.nm}}</td>
          <td>
            <a href="" ng-click="editEmployee(employee)">Edit</a>
          </td>
          <td>
            <a href="" ng-click="deleteEmployee(employee)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>

    <ul ng-show="searchName == null">
        <li ng-show="currentBunch != 1">
            <a href="" ng-click="prevBunchPages()"> << </a>
        </li>
        <li ng-repeat="page in totalPages track by $index">
            <a href="" ng-click="clickPage(page)">{{page}}</a>
        </li>
        <li ng-hide="currentBunch > pagesCapacity">
            <a href="" ng-click="nextBunchPages()"> >> </a>
        </li>
    </ul>

    <ul ng-show="searchName != null && (employees.list.length != 0)">
        <li ng-show="srchCurrentBunch != 1">
            <a href="" ng-click="prevBunchPages()"> << </a>
        </li>
        <li ng-repeat="page in srchTotalPages track by $index">
            <a href="" ng-click="clickPage(page)">{{page}}</a>
        </li>
        <li ng-hide="srchCurrentBunch > srchPagesCapacity">
            <a href="" ng-click="nextBunchPages()"> >> </a>
        </li>
    </ul>

    <lable>Name</lable><input type="text" ng-model="employee.nm"/>
    <lable>Active</lable><input type="checkbox" ng-model="employee.acv"/>
    <lable>Department</lable>
    <select ng-init="getAllDepartments()" ng-options="department.nm for department in departments.list track by department.id"
            ng-model="employee.dp">
      <option value="">Select</option>
    </select>
    <lable>Search</lable><input type="text" ng-change="searchEmployeeByName()" ng-model="searchName"/>
    <button ng-click="saveEmployee()">Save</button>
    <button ng-click="resetEmployee()">Cancel</button>
  </body>
</html>